# Tempfiles and logs
nohup.out
*.kate-swp
*.kate-swo
*.sw?
*.log

# Environments
.env
.envrc
.venv
env/
tools/venv/
ENV/
env.bak/
venv.bak/

.rsyncignore

src/index.html.backup
src/index.test.html

node_modules
